body {
    background-color: black;
    overflow-x: hidden;
    color: white;
}

@media (min-width: 800px) {
    .navbar {
        z-index: 100;
    }
    .carousel {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .products-grid {
        margin-top: 60vh;
        z-index: -100;
    }
}

.carousel {
    max-height: 60%;
    overflow: hidden;
    width: 100%;
}

.carousel-image {
    margin-top: -10%;
}

.navbar h4, .navbar p {
    margin-top: 10px;
    text-shadow: black 2px 2px 2px;
    color: #d9d9d9;
}

.navbar-brand h4:hover {
    color: white;
}

.search-group * {
    margin: 5px;
    margin-top: 3px;
}

.product-img {
    max-height: 200px;
    margin: auto;  
}

.products-grid a, .products-search a {
    color: white;
}

.products-grid div {
    margin: 10px;
}

.products-search a {
    margin: auto;
    margin-top: 20px;
}

.jumbotron {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px;
}

.main-product-img {
    max-height: 40vh;
    max-width: 100%;
}

.main-product-img-container {
    display: flex;
    align-items: center;
}

.helptext {
    display: none;
}