<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">© 2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Top 20 most popular games</a></li>
          <li><a class="text-muted" href="#">Random game of the day</a></li>
          <li><a class="text-muted" href="#">Team featured game</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Got extra games lying around?</h5>
        <a href="/sell"><button class="btn btn-info">Sell games</button></a>
      </div>
    </div>
  </footer>