<!-- templates/index.html -->
{% extends 'base.html' %}

{% block body %}
<div id='carouselControl' class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for game in games %}
        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
            <a href="/{{ game.slug }}">
                <img class="d-block w-100 carousel-image" src="{{ game.image_url }}" alt="First slide">
            </a>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselControl" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselControl" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row products-grid">
    {% for game in games %}
    <div class="col text-center">
        <a href="/{{ game.slug }}">
            <img class="product-img" src="{{ game.image_url }}">
            <h4>{{ game.title }}</h4>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}