<nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/">
        <div class="row">
            <div class="col">
                <img src="/static/images/logo.png" width="50" height="50" alt="Video Game Marketplace">
            </div>

            <div class="col">
                <h4>Video Game Marketplace</h4>
            </div>
        </div>
    </a>
    <div class="row search-group">
        {% if user.is_authenticated %}
        <p>Hello, <strong>{{ user.username }}</strong></p>
        <a href="/submit-game"><button type="submit col" class="btn btn-info">Submit A Game</button></a>
        <a href="/accounts/logout"><button type="submit col" class="btn btn-info">Log Out</button></a>
        {% endif %}
        {% if not user.is_authenticated %}
        <a href="/accounts/login"><button type="submit col" class="btn btn-info">Log In</button></a>
        <a href="/accounts/signup"><button type="submit col" class="btn btn-info">Register</button></a>
        {% endif %}
    </div>
</nav>