<!-- templates/index.html -->
{% extends 'base.html' %}

{% block body %}

<div class="col products-search">
    <div class="row text-center">
        <a href="/game">
            <img class="product-img" src="/static/images/gta5.jpeg">
            <h4>Grand Theft Auto 5</h4>
        </a>
    </div>
    <div class="row text-center">
        <a href="/game">
            <img class="product-img" src="/static/images/skyrim.jpeg">
            <h4>The Elder Scrolls V: Skyrim</h4>
        </a>
    </div>
    <div class="row text-center">
        <a href="/game">
            <img class="product-img" src="/static/images/witcher.jpg">
            <h4>The Witcher 3: Wild Hunt</h4>
        </a>
    </div>
</div>

{% endblock %}